.comment-container {
  border-radius: 1%;
  border: 1px solid rgb(226, 226, 226);
  margin: 5px 10px;
  background-color: white;
  color: black;

  .author {
    margin-left: 5px;

    h4 {
      margin: 5px;
      font-size: 1.4rem;
      .detail {
        font-size: 1.2rem;
        font-style: italic;
        color: grey;
      }
    }
  }

  .body-text {
    margin-left: 50px !important;
  }
}

@media screen and (max-width: 950px) {
  .body-text {
    max-width: 550px !important;
    overflow-x: scroll;
    margin: auto !important;
  }
}

@media screen and (max-width: 600px) {
  .body-text {
    max-width: 300px !important;
  }
}
