.comment-container {
  border-radius: 1%;
  border: 1px solid rgb(226, 226, 226);
  margin: 5px 10px;
  background-color: white;
  color: black;

  .author {
    margin-left: 5px;

    h4 {
      margin: 5px;
      font-size: 1.4rem;
      .detail {
        font-size: 1.2rem;
        font-style: italic;
        color: grey;
      }
    }
  }
  .wrapper-body {
    display: flex;
    justify-content: flex-start;
  }

  .body-text {
    margin: 5px auto;
    flex-grow: 1;
  }
}

@media screen and (max-width: 950px) {
  .body-text {
    max-width: 550px !important;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 600px) {
  .body-text {
    max-width: 500px !important;
  }
}

@media screen and (max-width: 400px) {
  .body-text {
    max-width: 300px !important;
  }
}
