.post-container {
  border-radius: 1%;
  border: 1px solid lightseagreen;
  margin: 5px 10px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.4rem;
    margin: 5px 10px;
  }

  .media-container {
    display: flex;
    justify-content: center;
  }

  img {
    height: auto;
    max-width: 80%;
    margin: 5px 10px;
  }

  .video {
    max-width: 95%;
    margin: 5px 10px;
  }

  .selftext {
    margin: 5px 15px;
    font-size: 0.95rem;
  }

  a {
    margin: 5px 15px;
  }

  .info {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;

    .detail {
      font-style: italic;
      color: grey;
    }

    .comments {
      margin-left: 5px;
    }
  }
}
