.responsive {
  border-radius: 1%;
  border: 1px solid grey;
  margin: 5px;
  background-color: white;
  color: black;
}

h3 {
  font-size: 1.4rem;
  margin: 5px 10px;
}

.info {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  max-width: 80%;
  margin: 5px 10px;
}

.detail {
  font-style: italic;
  color: grey;
}

.comments {
  margin-left: 5px;
}
