body {
  position: relative;
  top: 80px;
  margin: auto;
  max-width: 1000px;
  background-color: whitesmoke;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  margin: auto;
  width: 100%;
  .switch {
    margin: 0 auto;
  }
}
